html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-height: 180px;
  width: 384px;
}

h1 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

img {
  width: 30px;
}

.modal-header {
  align-items: center;
  border-bottom: 0.5px solid #dadada;
}

.modal-content {
  padding: 0 22px;
}

.modal-icons {
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}

.logo {
  padding: 16px;
}

.logo-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.version {
  color: #444;
  font-size: 14px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}

.flex:hover {
  opacity: 0.4;
}

.flex .fa {
  font-size: 40px;
  color: black;
}
